.Container {
    width: 325px;
}

.projectImageContainer {
    position: relative;
}

.projectImage>img {
    display: block;
}

.projectImage::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: linear-gradient(0deg, #000000 0%, rgba(0, 0, 0, 0.8) 16.56%, rgba(0, 0, 0, 0.4) 32.46%, rgba(0, 0, 0, 0.2) 46.94%, rgba(0, 0, 0, 0) 100%);
}

.ProjectTitle {
    position: absolute;
    bottom: 16px;
    left: 16px;
    color: #FFF;
    font-size: 16px;
}

.projectAuthor {
    border: 1px solid rgba(0, 0, 0, 0.05);
    display: flex;
    padding: 12px;
}

.projectAuthor>div>img {
    border-radius: 50%;
    padding-right: 10px;
}

.projectAuthorName {
    font-size: 16px;
    color: #010203;
}

.projectAuthorJobTitle {
    font-size: 14px;
    color: #929292;
}